<div id="result" class="t-data-grid">
    <table class="t-data-grid">
        <tr>
            <th>{{'searchFlightForm.deparDateMin.label' | translate }}</th>
            <th>{{'searchFlightForm.deparDateMax.label' | translate }}</th>
            <th>{{'bookmarkList.nbFlights' | translate }}</th>
        </tr>
        <tr>
            <td>{{synthesisCriteria.departureDateMin | i18nDate}}</td>
            <td>{{synthesisCriteria.departureDateMax | i18nDate}}</td>
            <td>{{nbFlights}}</td>
        </tr>
    </table>
  </div>   