<div id="mainBanner">
    <h3>
        {{'DetailsPage.cabin.header' | translate }}
    </h3>
    <p>
        <span class="expand" (click)="changeVisibility()">
            <mat-icon *ngIf="IsHidden">expand_more</mat-icon>
            <mat-icon *ngIf="!IsHidden">expand_less</mat-icon>
        </span>
    </p>
</div>
<div id="cabinDetails" class="t-data-grid" *ngIf="!IsHidden" [@orientAnimation]="orientation">
    <table class="t-data-grid">
        <tr>
            <th *ngFor="let cabinDetail of cabinDetails">{{"DetailsPage."+cabinDetail.cabinClass | translate}}</th>
        </tr>
        <tr>
            <td *ngFor="let cabinDetail of cabinDetails">
                <br>
                - {{cabinDetail.bagage}}<br><br>
                - {{cabinDetail.cancellation}}<br><br>
                - {{cabinDetail.rebooking}}<br><br>
                - {{cabinDetail.refund}}<br><br>
                - {{cabinDetail.fare}} $
            </td>
        </tr>
    </table>
</div>