<mat-card>
    <mat-card-title>{{'authPage.forgotpass.title' | translate }}</mat-card-title>
    <mat-card-content>
        <div [formGroup]="fpassForm">
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email *" [formControl]="email"
                    [errorStateMatcher]="matcher">
                    <mat-hint>{{'authPage.emailsend.title' | translate }}</mat-hint>
                    <mat-error *ngIf="email.hasError('required')">{{'authPage.emailrequired.label' | translate }}</mat-error>
                    <mat-error *ngIf="email.hasError('email')">{{'authPage.emailvalid.label' | translate }}</mat-error>
                </mat-form-field>
            </p>
            <br>
            <mat-error *ngIf="submitted && fpassForm.invalid">{{'authPage.emptyfield.label' | translate }}</mat-error>
            <mat-error *ngIf="userNotExist">Email not found</mat-error>
            <br>
            <div class="button">
                <button type="submit" mat-raised-button color="primary" (click)="sendEmail()">{{'authPage.send.title' | translate }}</button>
                <button mat-button (click)="cancel()">{{'authPage.cancel.label' | translate }}</button>
            </div>
            <br>
            <p>
                <button mat-button (click)="login()">{{'authPage.signin.label' | translate }} ?</button>
            </p>
        </div>
    </mat-card-content>
    <div *ngIf="loading" id="loader">
        <img *ngIf="loading" alt="Return to Home Page" src="../../../assets/imgs/ajax-wait.gif">
    </div>
</mat-card>