<app-top-right-side></app-top-right-side>
<app-top-side></app-top-side>
<div id="mainContainer">
    <app-left-side></app-left-side>
    <div id="mainMargin">
        <div id="main">
            <div id="mainBanner">
                <h3>Contact</h3>
               <p>
                    <span class="expand">
                        <mat-icon>expand_less</mat-icon>
                    </span>
                </p> 
            </div>
                <app-contact-criteria></app-contact-criteria>
        </div>
    </div>
</div>
<app-bot-side></app-bot-side>