<div id="loginHeader">
    <mat-toolbar color="primary">
        <span>
            <p>
                <mat-icon class="leftIcon">flight</mat-icon> MyFlight-App
            </p>
        </span>
        <div class="rightLang">
            <div id="Lang" [formGroup]="language">
                <mat-form-field>
                    <mat-select (selectionChange)="changeLang($event.value)" formControlName="language">
                        <mat-option *ngFor="let lang of langs" [value]="lang">
                            {{ (lang === "en_US") ? ('lang.english.label' | translate) : (lang === "pt_BR") ? ('lang.portuguese.label' | translate) : ('lang.french.label' | translate) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="matcard">
    <mat-card>
        <mat-card-title>Page not found</mat-card-title>
        <br>
        <mat-card-content>
            The page you are looking for is not found.
            <br><br>
            <a href='/'>
                 Return to home
            </a>
        </mat-card-content>
    </mat-card>
</div>
<app-bot-side></app-bot-side>