<div id="result" class="t-data-grid left" [@tableAnimation]>
    <table class="t-data-grid">
        <tr>
            <th>{{'flightsList.trip.label' | translate }}</th>
            <th>{{'bookmarkList.nbFlights' | translate }}</th>
        </tr>
        <tr *ngFor="let synthesisTrip of synthesisTrips">
            <td>{{"searchFlightForm.trip."+synthesisTrip.travelType | translate}}</td>
            <td>{{synthesisTrip.nbFlights}}</td>
        </tr>
    </table>
</div>
<div class="right" style="display: block" [@pieAnimation]>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="colors" width="600"
        height="300"></canvas>
</div>   
