<mat-card>
    <mat-card-title>Reset password</mat-card-title>
    <mat-card-content>
        <div [formGroup]="resetForm">
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="{{'authPage.password.label' | translate }}" [formControl]="password"
                        [errorStateMatcher]="matcher">
                    <mat-hint>{{'authPage.emailcritere.label' | translate }}</mat-hint>
                    <mat-error *ngIf="password.hasError('required')">{{'authPage.passwordvalid.label' | translate }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">{{'authPage.passcritere.label' | translate }}</mat-error>
                    <mat-error *ngIf="password.hasError('passwordStrength')">{{password.errors['passwordStrength']}}
                    </mat-error>
                </mat-form-field>
            </p>
            <br>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="{{'authPage.confpass.label' | translate }}" [formControl]="confpassword"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="confpassword.hasError('required')">{{'authPage.confpassvalid.label' | translate }}</mat-error>
                    <mat-error *ngIf="confpassword.hasError('mustMatch')">{{'authPage.passmatch.label' | translate }}</mat-error>
                </mat-form-field>
            </p>
            <mat-error *ngIf="submitted && resetForm.invalid">{{'authPage.emptyfield.label' | translate }}</mat-error>
            <mat-error *ngIf="invalid">Invalid token</mat-error>
            <mat-error *ngIf="userNotExist">User not exist</mat-error>
            <br>
            <div class="button">
                <button type="submit" mat-raised-button color="primary" (click)="reset()">Reset</button>
                <button mat-button (click)="cancel()">{{'authPage.cancel.label' | translate }}</button>
            </div>
            <br>
        </div>
    </mat-card-content>
    <div *ngIf="loading" id="loader">
        <img *ngIf="loading" alt="Return to Home Page" src="../../../assets/imgs/ajax-wait.gif">
    </div>
</mat-card>